{
    "restructuredtext.confPath": "",
    "python.pythonPath": "/Users/sixtynorth/.virtualenvs/kfg/bin/python",
    "python.unitTest.unittestEnabled": false,
    "python.unitTest.nosetestsEnabled": false,
    "python.unitTest.pyTestEnabled": true,
    "python.unitTest.pyTestArgs": [
        "tests"
    ]
}